[Desktop Entry]
Exec=kcmshell6 kcm_kscreen
Name=displays_shortcut
NoDisplay=true
StartupNotify=false
Type=Application
X-KDE-GlobalAccel-CommandShortcut=true
