[Desktop Entry]
Exec=systemsettings kcm_keys
Name=shortcuts_shortcut
NoDisplay=true
StartupNotify=false
Type=Application
X-KDE-GlobalAccel-CommandShortcut=true
